<h1>Notebook Tedavi Merkezini Tercih ettiğiniz için teşekkürler.</h1>
<p>Arızanız bildirilmiştir. En kısa zamanda Notebook Tedavi Merkezine gelip cihazınızı gösteriniz.</p>
<%= link_to 'Anasayfaya dön', :root %>
