<h1>Notebook Tedavi Merkezine Hoşgeldiniz</h1>
<%= link_to "Cihaz listesi(Admin)", controller: "posts" %><br>   </br>
<%= link_to 'Arıza bildirimi(Müşteri)', new_post_path %><br>     </br>
<%= link_to 'Daha önceki bildirdiğim arızalar(Müşteri)', user_posts_path %>
